# NextAuth
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Email domain whitelist (comma-separated)
ALLOWED_EMAIL_DOMAINS=

# Optional: explicit email whitelist (comma-separated)
# ALLOWED_EMAILS=admin@kmitl.ac.th,teacher@kmitl.ac.th

# Kubernetes namespace for pods
K8S_NAMESPACE=
